# Logs
_logs/
*.log

# Cache directories
_cacache/
.npx/
_prebuilds/

# Python files and temporary files
*.pyc
__pycache__/
*.csv
*.pem

# Node.js-specific ignores
node_modules/
sentry-cli/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment directories
env/

# Lock files (optional)
package-lock.json

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous files
*.tmp
*.bak
*.swp
